---
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			body {
				text-align: center;
			}
		</style>
	</head>

	<body>
		<p>
			Heya, due to limitations with the browser, we can't automatically
			redirect you.
			<br />
			Here are the 2 links:
		</p>
		<a href="/session-id.svg" target="_blank"> Session ID QR code </a>
		<br />
		<a href="https://www.getsession.org/download" target="_blank">
			Session download
		</a>
	</body>
</html>
